.background{
  background-color:#0282f9;
  ul{
    font-size:13px;
    @include center();
    padding:50px 0px;
    color:white;
    margin: 0px;
    li{
      @include center();
      gap:10px;
      img{
        width:30px;
      }
    }
  } 
}
