footer{
  background-image: url("../img/footer-bg.jpg");
  background-size:cover;
   .second-background{
        background-image: url("../img/dc-logo-bg.png"); 
        background-repeat:no-repeat;
        background-position:right;
   }
   .footer-list-container{
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        padding:40px 0px;
        flex-basis: calc(100%/3);
        gap: 0px 40px;
        ul:first-child{
          padding-bottom:0px;
        }
          li{
            text-align: justify;
            list-style: none;
            color:lightgrey;
            font-size:10px;
            padding-top:10px;
            &:hover{
              color:white;
              transform: scale(1.2);
            }
          }
          li:first-child{
            font-weight: bold;
            color:white;
            padding-bottom: 15px;
            font-size:18px;
            &:hover{
              color :none;
              transform: none;
            }
          }
          
  }

  .bottom-footer{
    background-color:#303030;
    height:100px;
    display: flex;
    .container{
      @include center();
      button{
        border:2px solid #0282f9;
        color :white;
        padding: 10px;
        background-color:transparent;
      }
      .bottom-right-container{
        @include center($align);
        ul{
          display: flex;
          li{
            padding-left: 20px;
          }
        }
        span{
          align-self: center;
          color: #0282f9;
        }
      }
    }
  }
}